* {
    padding: 0;
}

@media (max-width:700px) {
    .main-bg {
        margin: 15px;
        width: calc(100vw - 30px);
        height: calc(100vh - 30px);
        left: 0;
        top: 0;
    }
    .side-menu.container {
        top: 12.5%;
        left: 50%;
        transform: translate(-50%, -12.5%);
    }
    .side-menu.button {
        text-align: center;
        font-size: 24px;
        height: 1.2em;
    }
    .result {
        width: 100%;
        height: 1.2em;
        left: 50%;
        top: 12.5%;
        transform: translate(-50%, -12.5%);
        font-size: 64px;
    }
    .restriction.container {
        left: calc(50% + 1.2em/2);
        top: 12.5%;
        transform: translate(-50%, -12.5%);
    }
    .restriction.choice {
        width: 6em;
        height: 2em;
        border-radius: 30px;
        font-size: 16px;
    }
    .new-game.choice {
        width: calc((400px/3) - 7.1px*2);
        max-width: calc((400px/3) - 7.1px*2);
        height: 2em;
        border-radius: 30px;
        font-size: 16px;
    }
    .join-room.container {
        width: 50%;
        top: 12.5%;
        left: 50%;
        transform: translate(-50%, -12.5%);
    }
    #input-room-id {
        font-size: 16px;
        border-radius: 15px;
        height: 1.2em;
        top: 1em;
    }
    #title-join-room {
        font-size: 24px;
        height: 1.2em;
    }
    .title-waiting {
        width: 100%;
        left: 50%;
        transform: translate(-50%, -12.5%);
        top: 12.5%;
        font-size: 24px;
    }
    .start-menu.container {
        max-height: 256px;
        max-width: 256px;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -10%);
    }
    .start-menu.button {
        width: 100%;
        height: 1.2em;
        font-size: 32px;
    }
    #tic-tac-toe-board {
        width: 80vw;
        height: 80vw;
        min-width: 325px;
        min-height: 325px;
        max-width: 400px;
        max-height: 400px;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -80%);
    }
    .room-id {
        font-size: 16px;
    }
}

@media (min-width:701px) and (min-height:701px) {
    .main-bg {
        margin: 25px;
        width: calc(100vw - 50px);
        height: calc(100vh - 50px);
        left: 0;
        top: 0;
    }
    .side-menu.container {
        top: calc(24px + 1.2em);
    }
    .side-menu.button {
        text-align: left;
        font-size: 24px;
        height: 1.2em;
    }
    .result {
        width: 6em;
        height: 1.2em;
        left: 50%;
        top: 6.25%;
        transform: translate(-50%, -6.25%);
        font-size: 96px;
    }
    .restriction.container {
        left: calc(50% + 1.2em/2);
        top: 12.5%;
        transform: translate(-50%, -12.5%);
    }
    .restriction.choice {
        width: 6em;
        height: 2em;
        border-radius: 30px;
        font-size: 20px;
    }
    .new-game.choice {
        min-width: calc((400px/3) - 8px*2);
        max-width: calc((450px/3) - 8px*2);
        height: 2em;
        border-radius: 30px;
        font-size: 20px;
    }
    .join-room.container {
        max-width: 256px;
        max-height: 256px;
        top: 12.5%;
        left: 50%;
        transform: translate(-50%, -12.5%);
    }
    #input-room-id {
        font-size: 16px;
        border-radius: 15px;
        height: 1.2em;
        top: 1em;
    }
    #title-join-room {
        font-size: 32px;
        height: 1.2em;
    }
    .title-waiting {
        max-width: 256px;
        left: 50%;
        transform: translate(-50%, -12.5%);
        top: 12.5%;
        font-size: 32px;
    }
    .start-menu.container {
        max-height: 256px;
        max-width: 256px;
        left: 50%;
        top: 10%;
        transform: translate(-50%, -10%);
    }
    .start-menu.button {
        width: 100%;
        height: 1.2em;
        font-size: 34px;
    }
    #tic-tac-toe-board {
        width: 41.67vw;
        height: 41.67vw;
        min-width: 400px;
        min-height: 400px;
        max-width: 450px;
        max-height: 450px;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -80%);
    }
    .room-id {
        font-size: 24px;
    }
    .box:hover {
        opacity: .5;
    }
    .button {
        opacity: .5;
    }
    .button:hover {
        opacity: 1;
    }
}

.main-bg {
    position: absolute;
    background-color: rgb(255, 255, 255);
}


/* 
////////////
/GAME BOARD/
//////////// 
*/

#tic-tac-toe-board {
    position: absolute;
    background: url('../img/board.svg') no-repeat;
    background-size: 100%;
    background-position: center;
    display: grid;
    gap: 7.18%;
    grid-template-columns: repeat(3, 25.55%);
    grid-template-rows: repeat(3, 25.55%);
    justify-content: center;
    align-content: center;
    visibility: visible;
}

.box {
    display: grid;
    visibility: hidden;
    background-size: 100%;
    background-position: center;
    opacity: 0;
    transform: matrix(1, 0, 0, 1, 0, 0);
}


/* 
///////////
/START MENU/
////////////
*/

.start-menu.container {
    display: grid;
    gap: 1.2em;
    grid-template-rows: auto auto auto;
    position: absolute;
    visibility: visible;
}

.start-menu.button {
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    color: rgb(0, 0, 0);
}


/* 
///////////
/SIDE MENU/
///////////
*/

.side-menu.container {
    display: grid;
    gap: 1.2em;
    grid-template-rows: auto auto auto;
    position: absolute;
    visibility: hidden;
}

.side-menu.button {
    visibility: hidden;
    white-space: nowrap;
    font-family: Helvetica Neue;
    color: rgba(0, 0, 0, 1);
}

.side-menu-show-button {
    position: absolute;
    border: none;
    display: block;
    visibility: hidden;
    width: 24px;
    z-index: 1;
}


/* 
/////////////
/RESTRICTION/
/////////////
*/

.restriction.container {
    position: absolute;
    display: grid;
    visibility: hidden;
    gap: 1.2em;
    grid-template-columns: auto auto auto;
}

.restriction.choice {
    font-weight: 350;
    font-family: Helvetica Neue;
    color: white;
    background-color: black;
    line-height: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 
///////////
/JOIN ROOM/
///////////
*/

.join-room.container {
    display: grid;
    visibility: hidden;
    gap: 1.2em;
    grid-template-rows: auto auto auto;
    position: absolute;
    justify-content: center;
    align-content: center;
}

.join-room {
    text-align: center;
    font-family: Helvetica Neue;
    color: rgba(0, 0, 0, 1);
}


/* 
////////
/RESULT/
////////
*/

.result {
    position: absolute;
    text-align: center;
    font-family: Helvetica Neue;
    font-weight: lighter;
    color: rgba(0, 0, 0, 1);
    display: block;
    visibility: hidden;
}


/* 
//////////
/NEW GAME/
//////////
*/

.new-game.choice {
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-family: Helvetica Neue;
    font-weight: 350;
    color: white;
    background-color: black;
    line-height: 1.5;
    display: flex;
    visibility: hidden;
    align-items: center;
    justify-content: center;
}

.choice:hover {
    color: black;
    background-color: white;
}


/* 
//////
/HOST/
//////
*/

.title-waiting {
    position: absolute;
    white-space: nowrap;
    text-align: center;
    font-family: Helvetica Neue;
    color: rgba(0, 0, 0, 1);
    display: block;
    visibility: hidden;
}

.room-id {
    position: absolute;
    text-align: right;
    font-family: Helvetica Neue;
    color: rgba(0, 0, 0, 1);
    display: flex;
    visibility: hidden;
    right: 0;
    width: auto;
}